.pp__buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.settings__button{
    text-align: center;
}

.title{
    text-align: center;
    margin-bottom: 1rem;
}