main{
    margin: 0 auto;
}

button{
    /* color: black; */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
*{
    background-color: #30384b;
}